<app-page title="Address">
  <button type="button" class="btn">Add</button>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active">
      <table class="table table-hover table-responsive-md">
        <thead class="thead">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">street</th>
            <th scope="col">numeration</th>
            <th scope="col">city</th>
            <th scope="col">postCode</th>
            <th scope="col">country</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let address of address">
          <tr>
            <th scope="row">{{ address.id }}</th>
            <td>{{ address.street }}</td>
            <td>{{ address.numeration }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.postCode }}</td>
            <td>{{ address.country.name }}</td>
            <td>
              <i class="mr" style="cursor: pointer"
                ><mat-icon>edit</mat-icon></i
              >
              <i (click)="deleteAddress(address.id)" style="cursor: pointer"
                ><mat-icon>delete</mat-icon></i
              >
            </td>
            <td>
              <a>
                <i style="cursor: pointer"
                  ><mat-icon>keyboard_arrow_right</mat-icon></i
                >
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
