<app-page title="Cost Center">
  <button (click)="openDialogCreate()" type="button" class="btn">Add</button>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active">
      <table class="table table-hover table-responsive-md">
        <thead class="thead">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody *ngFor="let costcenter of costcenters">
          <tr>
            <th scope="row">{{ costcenter.id }}</th>
            <td>{{ costcenter.name }}</td>
            <td>{{ costcenter.country.name }}</td>
            <td>
              <i
                (click)="openDialogUpdate(costcenter)"
                class="mr"
                style="cursor: pointer"
                ><mat-icon>edit</mat-icon></i
              >
              <i
                (click)="deleteCostCenter(costcenter.id)"
                style="cursor: pointer"
                ><mat-icon>delete</mat-icon></i
              >
            </td>
            <td>
              <a>
                <i style="cursor: pointer"
                  ><mat-icon>keyboard_arrow_right</mat-icon></i
                >
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
