* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor{
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3344;
}

.text-primario{
  color: #3366FF;
}

.btnLogin{
  background-color: #2c3344;
  color: #fff;
  font-weight:500;
  height:56px;

  &:hover{
    box-shadow: 5px 5px 10px #ccc;
  }
}

.box-login{
  width: 35%;
  height: 65%;
  background-color: #fff;
  border-radius: 10px;
}

.link-custom {
  a{
    text-decoration: none;
    font-weight: 500;

    &:hover{
      text-decoration: underline;
      color: #3366FF;
    }
  }
}

.form-control{
  border: none;
  padding: .5rem;
  border-bottom: 1px solid #ccc;
}

// poner el spinner en el centro y poner de negro todo el fondo
mat-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#icon-view-pass2{
  position: relative;
  top: 6px;
  z-index: 2;
  cursor: pointer;
}
#logoSkoy{
  width: 100px;
}
