<div class="contenedor">
  <div class="box-login shadow-lg border p-5 rounded">
    <div class="row">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            class="form-control mb-3"
            formControlName="name"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label>Address</label>
          <select class="form-control mb-3" formControlName="adressId">
            <option [disabled]="true" value="">Select Address</option>
            <option *ngFor="let address of address" [value]="address.id">
              {{ address.street }}, {{address.city}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Business</label>
          <select class="form-control mb-3" formControlName="businessId">
            <option [disabled]="true" value="">Select Business</option>
            <option *ngFor="let business of business" [value]="business.id">
               {{business.name}}
            </option>
          </select>
        </div>
        <button [disabled]="form.invalid" type="submit" class="btn text-center">Aceptar</button>
      </form>
    </div>
  </div>
</div>
